<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>940284740356-l9tjs074pcf1h5cevc6v9i2c875q21su.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.940284740356-l9tjs074pcf1h5cevc6v9i2c875q21su</string>
	<key>API_KEY</key>
	<string>AIzaSyAcTQxsJTNCIEYGEMnBXUMtZcTlLBY4guY</string>
	<key>GCM_SENDER_ID</key>
	<string>940284740356</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.drikkelek</string>
	<key>PROJECT_ID</key>
	<string>drikkelek-5dcdc</string>
	<key>STORAGE_BUCKET</key>
	<string>drikkelek-5dcdc.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:940284740356:ios:034e39ca4d2f1fc7aac651</string>
</dict>
</plist>